
<%= render "layouts/travel_nav" %>
<div class="container">
	<h1> Travel destination </h1>
</div>

 <%= image_tag("paris.jpg", :alt => "paris feed" , class: "img-circle") %> 
<%= image_tag("barcelona.jpg", :alt => "barcelona feed",class: "img-circle") %> 
<%= image_tag("Nice.jpg", :alt => "Nice feed",class: "img-circle") %> 