<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Cities <span class="caret"></span>
    </a>
<ul class="dropdown-menu">
      <li><%= link_to "Paris", "#" %> </li>
      <li> <%= link_to"Barcelona", "#" %> </li>
      <li> <%= link_to"Nice" , "#" %></li>
    </ul>
    </ul>